* {
    text-transform: uppercase;
}

.HolyGrail {
    margin: 0;
}

ul, ol {
    padding: 0 0 0 20px;
}

.header,
.footer,
.HolyGrail-nav,
.HolyGrail-content,
.HolyGrail-ads {
    padding: 20px;
}

.header,
.footer {
    background: royalblue;
    color: white;
}

.HolyGrail-content {
    background: yellowgreen;
}

.HolyGrail-nav,
.HolyGrail-ads {
    background: #c9c;
}