body, h2, p {
    margin: 0;
}

.tile {
    background: yellowgreen;
    width: 50%;
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
    min-height: 160px;
}

.tile:nth-child(2),
.tile:nth-child(3) {
    background: green;
    color: white;
}