body, h2, p {
    margin: 0;
}

main {
    display: block;
}

.tiles {
    background: green;
}

.tiles:after {
    content: '';
    display: table;
    clear: both;
}

.tile {
    background: yellowgreen;
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.tile:nth-child(2),
.tile:nth-child(3) {
    background: green;
    color: white;
}