body, h2, p {
    margin: 0;
}

.tile {
    background: yellowgreen;
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.tile:nth-of-type(2),
.tile:nth-of-type(3) {
    background: green;
    color: white;
}