/* general styles */
* {
    text-transform: uppercase;
}

.header,
.footer,
.HolyGrail-nav,
.HolyGrail-content,
.HolyGrail-ads {
    padding: 10px;
}

/* flexbox */
.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.HolyGrail-body {
    display: flex;
    flex: 1;
}

.HolyGrail-content {
    flex: auto;
}

.HolyGrail-nav,
.HolyGrail-ads {
    width: 20%
}